<div *ngIf="getUniversity() !=''">
    <ion-fab vertical="bottom" horizontal="end">
        <!-- <ion-badge color="danger">0</ion-badge> -->
        <ion-fab-button>
            <ion-icon name="chatbubbles"></ion-icon>
        </ion-fab-button>

        <ion-fab-list style="margin-top:0;">
            <iframe allow="microphone;" width="300" height="400" src="https://console.dialogflow.com/api-client/demo/embedded/8a309464-913b-44ea-8576-748783b49d1d">
            </iframe>
        </ion-fab-list>
    </ion-fab>
</div>
<ion-app>

    <ion-router-outlet></ion-router-outlet>
</ion-app>