ion-label {
    color: #C169ED !important;
}

span {
    color: #FF2D3A
}

p {
    margin: 30px;
}

.signup {
    --background: linear-gradient(90deg, #C169ED 0%, rgba(220, 36, 48, 0.91) 100%);
    border-radius: 10px;
    width: 280px;
    height: 49px;
    margin: 30px;
}