ion-item.item-has-focus>ion-label {
    color: #DC2430 !important;
}

ion-label {
    color: #7B4397 !important;
}

span {
    color: #DC2430
}

p {
    margin: 30px;
}

.signup {
    --background: linear-gradient(90deg, #7B4397 0%, rgba(220, 36, 48, 0.91) 100%);
    border-radius: 10px;
    width: 280px;
    height: 49px;
    margin: 30px;
}