<ion-split-pane contentId='content'>
    <ion-menu contentId='content'>
        <ion-header>
            <ion-toolbar>
                <ion-buttons slot="start">
                    <ion-menu-button></ion-menu-button>
                </ion-buttons>
                <ion-title>
                    Menu
                </ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-list>
            <ion-menu-toggle auto-hide='false' *ngFor='let p of pages'>
                <ion-item [routerLink]='p.url' routerDirection='root' [class.active-item]='SelectedPath ==p.url'>
                    {{p.title}}
                </ion-item>
            </ion-menu-toggle>
        </ion-list>
        <ion-content>

        </ion-content>
    </ion-menu>

    <ion-router-outlet id="content"></ion-router-outlet>
</ion-split-pane>