<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Notifications</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor='let res of Responses'>
        <ion-card-header>
            <ion-card-subtitle>{{res[0].complaintTitle}}</ion-card-subtitle>
            <ion-card-title class="blue">{{res[0].complaintId}}

                <ion-icon (click)='GoToResponse(res)' name="arrow-forward"></ion-icon>
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
        </ion-card-content>
    </ion-card>
</ion-content>