<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Notifications</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor='let res of Responses' (click)='GoToResponse(res)'>
        <ion-card-header>
            <ion-card-title>{{res[0].complaintTitle}}</ion-card-title>
            <ion-card-subtitle class="blue">{{res[0].complaintId}}
            </ion-card-subtitle>
            <ion-icon style="position: relative; float: right; bottom: 20px;" name="send"></ion-icon>
        </ion-card-header>

    </ion-card>
    <ion-item *ngIf='Responses.length==0'>There are no Notifications here</ion-item>
</ion-content>