.background-image {
    margin: 0px;
    --background: url('../../../assets/Profile.jpg') no-repeat top;
    --background-size: cover;
}

.text {
    font-size: 18px;
    margin-top: 8px;
    color: #ffffff;
    margin-left: 7%;
}

ion-icon,
i {
    color: #428cff;
    font-size: 22px;
    padding-right: 25px;
}

.logout {
    top: 95%;
    float: right;
    margin: 10px;
    --background: linear-gradient(90deg, #29c467 10%, #428cff 90%);
}

.logout-icon {
    padding-right: 1px;
    font-size: 22px;
}

.first {
    margin-top: 0px;
}

.inner-scroll,
.scroll-y {
    padding: 0px;
    margin: 0px;
}