.background-image {
    margin: 0px;
    --background: url('../../../assets/profile.png') no-repeat top;
    --background-size: cover;
}

@media screen and (min-width: 391px) and (max-width: 834px) {
    .background-image {
        margin: 0px;
        --background: url('../../../assets/profile-834.png') no-repeat top;
        --background-size: cover;
    }
}

@media screen and (min-width: 835px) {
    .background-image {
        margin: 0px;
        --background: url('../../../assets/profile-990.png') no-repeat top;
        --background-size: cover;
    }
}

.text {
    font-size: 18px;
    margin-top: 8px;
    margin-left: 7%;
    position: relative;
    z-index: -1;
}

ion-icon,
i {
    color: #428cff;
    font-size: 22px;
    padding-right: 25px;
    position: relative;
    z-index: -1;
}

.logout {
    top: 95%;
    float: right;
    margin: 10px;
    --background: linear-gradient(90deg, #29c467 10%, #428cff 90%);
}

.logout-icon {
    padding-right: 1px;
    font-size: 22px;
}

.first {
    position: relative;
    z-index: -1;
}

.inner-scroll,
.scroll-y {
    padding: 0px;
    margin: 0px;
}

.hide {
    position: relative;
    z-index: -1;
}