<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type='email' [(ngModel)]='Email'></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input [type]="passwordType" clearOnEdit="false" [(ngModel)]='Password'></ion-input>
        <ion-icon item-end [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>

    </ion-item>

    <ion-button (click)='Login()' class="login">Login</ion-button>
    {{plt}}

    <p> Do not have an account?
        <span class="link" style="cursor: pointer;" [routerLink]="['/registration']">Register here</span>
    </p>
</ion-content>