<ion-header>
    <ion-toolbar>
        <ion-title>Student Grievance System</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-grid style="text-align: center;" justify-content-center>
        <ion-row color="primary" align-self-center>
            <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
                <div class="Empty Space"></div>
            </ion-col>
        </ion-row>
        <ion-row color="primary" align-self-center>
            <ion-col align-self-center class="LeftSpace" size-md="5" size-lg="5" size-xs="12">
                <div text-center>
                    <h3>Login</h3>
                </div>
                <div padding>
                    <ion-item>

                        <ion-label position="floating">Email</ion-label>
                        <ion-input type='email' [(ngModel)]='Email'></ion-input>

                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Password</ion-label>
                        <ion-input [type]='showPassword ? "text" : "password" ' clearOnEdit="false" [(ngModel)]='Password'></ion-input>
                        <ion-icon slot="end" [name]='showPassword ? "eye-off" : "eye"' (click)='TogglePassword()'></ion-icon>
                    </ion-item>
                </div>
                <div padding>
                    <ion-button (click)='Login()' class="login">Login</ion-button>
                    <p>
                        <span class="link" style="cursor: pointer;">Forgot Password?</span>
                    </p>
                    <p> Do not have an account?
                        <span class="link" style="cursor: pointer;" [routerLink]="['/registration']">Register here</span>
                    </p>
                </div>

            </ion-col>

            <!---------------------------Government of Andra Pradesh-->
            <ion-col align-self-center size-md="5" size-lg="5" size-xs="12">
                <div text-center>
                    <img class='responsiveImg' src='assets/AndraPradeshLogo.png'> </div>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- 
    {{plt}} -->


</ion-content>