//.background-image {
//    --background: url('../../assets/Login.png');
//    --background-size: inherit;
//  }
ion-label {
    color: #428cff !important;
}

span {
    color: #29c467;
}

p {
    margin: 30px;
}

.login {
    --background: linear-gradient(90deg, #29c467 10%, #428cff 90%);
    border-radius: 10px;
    width: 280px;
    height: 49px;
    margin: 30px;
}