<ion-header>
    <ion-toolbar>
        <ion-title>Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="background-image">
    <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type='email' [(ngModel)]='Email'></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type='password' [(ngModel)]='Password'></ion-input>
    </ion-item>

    <ion-button (click)='Login()' class="login">Login</ion-button>
    {{plt}} bye
    <br> {{data | json}}
    <br>
    <p> Do not have an account?
        <span class="link" style="cursor: pointer;" [routerLink]="['/registration']">Register here</span>
    </p>
</ion-content>