//.background-image {
//    --background: url('../../assets/Login.png');
//    --background-size: inherit;
//  }
ion-label {
    color: #428cff !important;
}

span {
    color: #29c467;
}

p {
    margin: 30px;
}

.login {
    --background: linear-gradient(90deg, #29c467 10%, #428cff 90%);
    border-radius: 10px;
    width: 280px;
    height: 49px;
    margin: 30px;
    margin-bottom: 5px;
}

.link {
    &:hover {
        color: #428cff;
    }
    &:focus {
        color: #428cff;
    }
}

.responsiveImg {
    width: 80%;
    max-width: 300px;
    height: auto;
}

@media screen and (max-width: 400px) {
    .responsiveImg {
        width: 250px;
        height: 250px;
    }
}

@media screen and (min-width: 835px) {
    .LeftSpace {
        margin-left: 10%;
    }
}