.lodge {
    --background: linear-gradient(90deg, #29c467 10%, #428cff 90%);
    border-radius: 10px;
    width: 280px;
    height: 49px;
    margin: 30px;
}

.input,
.select {
    color: #428cff
}

#myFileInput{
    position: absolute;
    opacity: 0;
  }
  
.picture{
    color:#29c467;
    border-radius: 10px;
    width: 80px;
    height: 30px;
    margin-left: 5px;
}
.file{
    font-size: 14px;
    margin-left: 7%;
}
.text{
    margin: 5%;
    font-size: 14px;
}