.lodge {
    --background: linear-gradient(90deg, #8fbc8f 10%, #185a9d 90%);
    border-radius: 10px;
    width: 280px;
    height: 49px;
    margin: 30px;
}

.input {
    color: #185a9d
}

.select{
    color: #8fbc8f
}