.lodge {
    --background: linear-gradient(90deg, #29c467 10%, #428cff 90%);
    border-radius: 10px;
    width: 280px;
    height: 49px;
    margin: 30px;
}

.input,
.select {
    color: #428cff
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

// #fileinput {
//     height: 0px;
//     width: 0px;
//     z-index: -1;
// }