<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Complaint Activity</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Complaint Id:</ion-label>
        <ion-label>{{complaintId}}</ion-label>
    </ion-item>


    <ion-item *ngIf='Activities.length == 0'>
        There is no activity yet.
    </ion-item>

    <div class="history-tl-container">
        <ul class="tl">

            <li *ngFor='let act of Activities' class="tl-item" ng-repeat="item in retailer_history">
                <div class="timestamp">
                    {{act.activityTime}}
                </div>
                <div class="item-title">{{act.activityType | titlecase}}</div>
                <div class="item-detail">From: {{act.activityFrom}}</div>
                <div class="item-detail">To: {{act.activityTo}}</div>
            </li>

        </ul>

    </div>

</ion-content>