<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Complaint Activity</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label>Complaint Id:</ion-label>
        <ion-label>{{complaintId}}</ion-label>
    </ion-item>


    <ion-item *ngIf='Activities.length == 0'>
        There is no activity yet.
    </ion-item>
    <div id="timeline-content">
        <h1>Timeline</h1>
        <div class="vl">

        </div>
        <ul class="timeline">

            <li *ngFor='let act of Activities' class="event">
                <p style="position: absolute;right:250px;">{{act.activityTime}}</p>
                <h3>{{act.activityType | titlecase}}</h3>
                <p>From: {{act.activityFrom}}</p>
                <p>To: {{act.activityTo}}</p>

            </li>
        </ul>
    </div>

</ion-content>