/* Import */

@import url('https://fonts.googleapis.com/css?family=Chivo:300,300i,400,400i,700,700i,900,900i|Saira+Extra+Condensed:100,200,300,400,500,600,700,800|Saira:100,200,300,400,500,600,700,800');

/* Variables */

$background: #252827;
$color-primary: #004ffc;
$color-light: white;
$color-dim: #6c6d6d;
$spacing: 50px;
$radius: 4px;
$date: 120px;
$dotborder: 4px;
$dot: 11px;
$line: 4px;
$font-title: 'Saira',
sans-serif;
$font-text: 'Chivo',
sans-serif;

/* Base */

p {
    font-weight: 300;
}

a {
    color: $color-dim;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    letter-spacing: 3em;
    font-size: 6em;
    font-weight: 400;
    background: #252727;
    padding: .3rem 1rem;
    margin: 1.9rem 0 0 0;
    float: right;
}

a:hover {
    color: $color-light;
    background: $color-primary;
    border-bottom: .35em solid black;
}

strong {
    font-weight: 600;
}

h1 {
    font-family: $font-title;
    letter-spacing: 1.5px;
    color: $color-light;
    font-weight: 400;
    font-size: 2.4em;
}

#timeline-content {
    margin-top: $spacing;
    text-align: center;
}


/* Timeline */

body {
    line-height: 1.3em;
    min-width: 920px;
}

.history-tl-container {
    font-family: "Roboto", sans-serif;
    width: 50%;
    margin: auto;
    display: block;
    position: relative;
}

.history-tl-container ul.tl {
    margin: 20px 0;
    padding: 0;
    display: inline-block;
}

.history-tl-container ul.tl li {
    list-style: none;
    margin: auto;
    margin-left: 90px;
    min-height: 50px;
    /*background: rgba(255,255,0,0.1);*/
    border-left: 1px dashed #86D6FF;
    padding: 0 0 50px 30px;
    position: relative;
}

.history-tl-container ul.tl li:last-child {
    border-left: 0;
}

.history-tl-container ul.tl li::before {
    position: absolute;
    left: -18px;
    top: -5px;
    content: " ";
    border: 8px solid rgba(255, 255, 255, 0.74);
    border-radius: 500%;
    background: #258CC7;
    height: 20px;
    width: 20px;
    transition: all 300ms ease-in-out;
}

.history-tl-container ul.tl li:hover::before {
    border-color: #258CC7;
    transition: all 400ms ease-in-out;
}

ul.tl li .item-title {
    font-size: 16px;
    color: #29c467;
}

ul.tl li .item-detail {
    font-size: 12px;
}

ul.tl li .timestamp {
    color: #428cff;
    position: absolute;
    width: 100px;
    left: -130%;
    text-align: right;
    font-size: 12px;
}