<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Feedback</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    Complaint ID:{{complaintId}}
    <ion-radio-group value="biff">
        <ion-list-header>
            <ion-label>Were You Satisfied?</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Yes</ion-label>
            <ion-radio slot="start" value="Satisfied"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" value="Dissatisfied"></ion-radio>
        </ion-item>
    </ion-radio-group>
    <ion-item>
        <ion-label position="floating">Enter your Comments here</ion-label>
        <ion-textarea></ion-textarea>
    </ion-item>

</ion-content>