<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Feedback</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-radio-group [(ngModel)]='Satisfied'>
        <ion-list-header>
            <ion-label>Were You Satisfied?</ion-label>
        </ion-list-header>
        <ion-item>
            <ion-label>Yes</ion-label>
            <ion-radio slot="start" value="Satisfied"></ion-radio>
        </ion-item>

        <ion-item>
            <ion-label>No</ion-label>
            <ion-radio slot="start" value="Dissatisfied"></ion-radio>
        </ion-item>
    </ion-radio-group>
    <br>
    <ion-item>
        <ion-label position="floating">Enter your Comments here....</ion-label>
        <ion-textarea [(ngModel)]='feedback' autoGrow='true' spellcheck="true"></ion-textarea>
    </ion-item>

    <ion-button (click)='SendFeedback()'>Send Feedback</ion-button>

</ion-content>