<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Response</ion-title>
    </ion-toolbar>
</ion-header>


<ion-content>
    <div class="chat-box">
        <div class="chat-room">
            <div *ngFor="let chat of Response; let i = index; ">

                <div *ngIf="!chat.responseFrom.includes('STU')" class="message message-left">
                    <div class="bubble bubble-light">
                        {{chat.responseFrom}}: {{chat.response}}
                    </div>
                </div>
                <div *ngIf="chat.responseFrom.includes('STU')" class="message message-right">
                    <div class="bubble bubble-dark">
                        {{chat.response}}: You
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf='Response[Response.length-1].responseTo.includes("STUD")' class="type-area">
            <div class="input-wrapper">
                <input type="text" [(ngModel)]='Message' id="inputText" placeholder="Type messages here..." />
            </div>
            <button (click)='SendMessage()' class="button-send"> <ion-icon name='send'></ion-icon></button>
        </div>

    </div>
</ion-content>