<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Lodge Complaint</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-item>
        <ion-label position="floating" class="input">Complaint Title</ion-label>
        <ion-input type='text' [(ngModel)]='grievance.complaintTitle'>
        </ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating" class="input">Complaint Details</ion-label>
        <ion-input (ionBlur)='DetectComplaint()' type='text' [(ngModel)]='grievance.complaintDetail'>
        </ion-input>
    </ion-item>
    <ion-item>
        <ion-label class="input" for="myFileInput">Picture</ion-label>
        <span class="file" *ngIf='imgPreview'>
            {{imgPreview.name}}
        </span>

        <span class="file" *ngIf='!imgPreview'>
            No file chosen
        </span>

        <ion-button fill="outline" class="picture"> Select
            <ion-input accept="image/*" type="file" id="myFileInput" (change)="FileChange($event)"></ion-input>
        </ion-button>

    </ion-item>


    <ion-item>
        <ion-label class="select">Category</ion-label>
        <ion-select disabled [(ngModel)]='grievance.categoryId' placeholder='Select One'>
            <ion-select-option *ngFor="let cat of Categories" [value]=cat.categoryId>{{cat.categoryName}}</ion-select-option>
        </ion-select>
    </ion-item>
    <ion-item>
        <ion-label class="select">Anonymous</ion-label>
        <ion-select [(ngModel)]='grievance.complaintIsAnonymous' placeholder='Select One'>
            <ion-select-option [value]=1>Yes</ion-select-option>
            <ion-select-option [value]=0>No</ion-select-option>
        </ion-select>
    </ion-item>


    <ion-button class="lodge" (click)='LodgeComplaint()'>Submit</ion-button>

    <div class="text">*Incase of wrong category rephrase your complaint.</div>

</ion-content>